body {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: black;
  font-family: 'circularBold'
}

@font-face {
  font-family: "circularBlack";
  src: url("assets/CircularStd-Black.otf") format("opentype");
}

@font-face {
  font-family: "circularBold";
  src: url("assets/CircularStd-Bold.otf") format("opentype");
}

@font-face {
  font-family: "circularRegular";
  src: url("assets/CircularStd-Book.otf") format("opentype");
}

h1 {
  font-size: 20px;
  text-align: center;
  color: #00ffff;
  font-family: 'circularBold';
}

h2 {
  font-size: 20px;
  text-align: center;
  color: #ff00ff;
  font-family: 'circularBold';
}

#mylogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 50%;
  max-width: 400px;
}

#saveLoop {
  position: absolute;
  max-width: 40px;
  bottom: 20px;
  right: 30px;
}

#eraseButton {
  position: absolute;
  max-width: 40px;
  bottom: 20px;
  left: 30px;
}

#homeButton {
  position: absolute;
  max-width: 40px;
  top: 20px;
  left: 30px;
}

#modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */
}

#popup {
  position: absolute;
  width: 80vw;
  height: auto;
  background-color: black;
  border: 2px solid #00ffff;
  border-radius: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-40vw, -40vw);
  z-index: 1000;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
  color: #00ffff;
  font-family: 'circularBold';
  padding-bottom: 3vh;
}

#popup #testo {
  padding: 5vh 2vw 0 1vw;
}

#closePopup {
  position: absolute;
  top: 1vh;
  right: 3vw;
  color: #ff00ff;
  cursor: pointer
}

a {
  text-decoration: none;
}

#buttonGallery, #buttonGallery2, #buttonGallery3 {
  text-align: center;
  background: black;
  border: 2px solid #ff00ff;
  border-radius: 10px;
  color: #ff00ff;
  width: 60vw;
  height: 5vh;
  margin-left: 10vw;
  margin-top: 5vh;
  padding-top: 1.4vh;
  transition: all 0.3s;
  cursor: pointer;
}

#buttonGallery:hover, #buttonGallery2:hover, #buttonGallery3:hover {
  background: #ff00ff;
  border: 2px solid #ff00ff;
  color: black;
  transition: all 0.3s;
}
